@if mgwt.css pretty {
  @external mgwt-TabBar, mgwt-TabPanel;
}

@if user.agent safari {
  .mgwt-TabPanel {
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
  }
}

@if user.agent ie10 {
  .mgwt-TabPanel {
    display: -ms-flexbox;
    -ms-flex: 1 1;
    -ms-flex-direction: column;
  }
}

@if user.agent gecko1_8 {
  .mgwt-TabPanel {
    display: -moz-box;
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
  }
}

.mgwt-TabPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@if user.agent safari {
  .mgwt-TabPanel-container {
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
  }
}

@if user.agent ie10 {
  .mgwt-TabPanel-container {
    display: -ms-flexbox;
    -ms-flex: 1 1;
    -ms-flex-direction: column;
  }
}

@if user.agent gecko1_8 {
  .mgwt-TabPanel-container {
    display: -moz-box;
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
  }
}

.mgwt-TabPanel-container {
  overflow: hidden;
  display: flex;
  flex:1;
  flex-direction: column;
}

@if user.agent safari {
  .mgwt-TabBar {
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
  }
}

@if user.agent ie10 {
  .mgwt-TabBar {
    display: -ms-flexbox;
    -ms-flex-direction: row;
  }
}

@if user.agent gecko1_8 {
  .mgwt-TabBar {
    display: -moz-box;
    display: -ms-flexbox;
    -moz-box-orient: horizontal;
  }
}
.mgwt-TabBar {
  display: flex;
  justify-content: space-around;
  height: 48px;
  border-top: 1px solid black;
  background-color: #e5e9e8;
}
