@if mgwt.css pretty {
  @external mgwt-ProgressIndicator;
}

.mgwt-ProgressIndicator {
  width: 88px;
}

.mgwt-ProgressIndicator > span {
  background-color: #454545;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid white;
}

@if user.agent safari {
  .mgwt-ProgressIndicator > span {
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: progressIndicatorAnimation;
	-webkit-transform: scale(0.25);
  }

  .mgwt-ProgressIndicator > span:nth-child\(2\) {
    -webkit-animation-delay: 0.33s;
  }
  .mgwt-ProgressIndicator > span:nth-child\(3\) {
    -webkit-animation-delay: 0.66s;
  }

  @-webkit-keyframes progressIndicatorAnimation {
    0% {
      -webkit-transform: scale(0.25);
      background-color: #1e7dc8;
    }
    16% {
      -webkit-transform: scale(1.0);
      background-color: #1e7dc8;
    }
    33% {
      -webkit-transform: scale(0.25);
    }
    100% {
      -webkit-transform: scale(0.25);
    }
  }
}

@if user.agent ie10 {
  .mgwt-ProgressIndicator > span {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: progressIndicatorAnimation;
	transform: scale(0.25);
  }

  .mgwt-ProgressIndicator > span:nth-child\(2\) {
    animation-delay: 0.33s;
  }
  .mgwt-ProgressIndicator > span:nth-child\(3\) {
    animation-delay: 0.66s;
  }

  @keyframes progressIndicatorAnimation {
    0% {
      transform: scale(0.25);
      background-color: #1e7dc8;
    }
    16% {
      transform: scale(1.0);
      background-color: #1e7dc8;
    }
    33% {
      transform: scale(0.25);
    }
    100% {
      transform: scale(0.25);
    }
  }
}

@if user.agent gecko1_8 {
  .mgwt-ProgressIndicator > span {
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-name: progressIndicatorAnimation;
    -moz-transform: scale(0.25);

	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-ms-animation-name: progressIndicatorAnimation;
  }

  .mgwt-ProgressIndicator > span:nth-child\(2\) {
    -moz-animation-delay: 0.33s;
    -ms-animation-delay: 0.33s;
  }
  .mgwt-ProgressIndicator > span:nth-child\(3\) {
    -moz-animation-delay: 0.66s;
    -ms-animation-delay: 0.66s;
  }

  @-moz-keyframes progressIndicatorAnimation {
    0% {
	  -moz-transform: scale(0.25);
      background-color: #1e7dc8;
    }
    16% {
      -moz-transform: scale(1.0);
      background-color: #1e7dc8;
    }
    33% {
      -moz-transform: scale(0.25);
    }
    100% {
      -moz-transform: scale(0.25);
    }
  }

  @-ms-keyframes progressIndicatorAnimation {
    0% {
	  -ms-transform: scale(0.25);
      background-color: #1e7dc8;
    }
    16% {
      -ms-transform: scale(1.0);
      background-color: #1e7dc8;
    }
    33% {
      -ms-transform: scale(0.25);
    }
    100% {
      -ms-transform: scale(0.25);
    }
  }
}
