@if mgwt.css pretty {
  @external mgwt-DialogPanel, mgwt-DialogPanel-container, mgwt-DialogPanel-title;
  @external mgwt-DialogPanel-content, mgwt-DialogPanel-footer;
}

.mgwt-DialogPanel {
  /*border: solid 1px #72767b;*/
  border: solid 1px #ccccff;
  padding: 0px;
  opacity: 1;
  /*background-color: #d2d6d6;*/
  background-color: #fff;
  /*border: 1px solid #9daca9;*/
  color: #454545;
  border-radius: 5px;
  min-width: 150px;
  box-shadow: 5px 5px 2px #666;
  
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 63%, #e1e1e1 83%, #e1e1e1 83%, #f1f1f1 100%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 63%,#e1e1e1 83%,#e1e1e1 83%,#f1f1f1 100%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 63%,#e1e1e1 83%,#e1e1e1 83%,#f1f1f1 100%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
}

.mgwt-DialogPanel-container {
  /*color: #ffffff;*/
  color: #333333;
  padding: 0px;
}

.mgwt-DialogPanel-title {
  /*color: #ffffff;*/
  color: #ffffff;
  /*background: none;*/
  background: #4f85bb;
  border: none;
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
  
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 20%, rgba(246,41,12,1) 42%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 20%,rgba(246,41,12,1) 42%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 20%,rgba(246,41,12,1) 42%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.mgwt-DialogPanel-content {
  margin: 10px;
  text-align: center;
}

@if user.agent ie10 {
	.mgwt-DialogPanel-footer {
		display: -ms-flexbox;
		-ms-flex-pack: center;
	}
}

@if user.agent safari {
	.mgwt-DialogPanel-footer {
		display: -webkit-box; /* iOS < 7 && Android < 4.4*/
	    display: -webkit-flex;
	    -webkit-box-pack: center; /* iOS < 7 && Android < 4.4*/
	    -webkit-justify-content: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-DialogPanel-footer {
 	 	display: -moz-box;
        -moz-justify-content: center;
	}
}

.mgwt-DialogPanel-footer {
  margin-top: 10px;
  display: flex;
  -webkit-box-pack: center; /* iOS < 7 && Android < 4.4*/
  -webkit-justify-content: center;
  -moz-box-pack: center; /* iOS < 7 && Android < 4.4*/
  -moz-justify-content: center;
  -ms-box-pack: center; /* iOS < 7 && Android < 4.4*/
  -ms-justify-content: center;
  justify-content: center;
}

