@if mgwt.css pretty {
  @external mgwt-DialogButton, mgwt-DialogButton-ok;
  @external mgwt-DialogButton-cancel, mgwt-DialogButton-active;
}
.mgwt-DialogButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  text-align: center;
  background-color: #e5e9e8;
  border: 1px solid #9daca9;
  border-radius: 6px;
  
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 63%, #e1e1e1 83%, #e1e1e1 83%, #f1f1f1 100%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 63%,#e1e1e1 83%,#e1e1e1 83%,#f1f1f1 100%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 63%,#e1e1e1 83%,#e1e1e1 83%,#f1f1f1 100%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@if mgwt.formfactor desktop {
  .mgwt-DialogButton  {
    cursor: pointer;
  }
}

@if user.agent ie10 {
  .mgwt-DialogButton  {
    -ms-flex: 1 1;
  }
}

.mgwt-DialogButton-ok, .mgwt-DialogButton-cancel {
  margin-top: 7px;
  margin-right: 3px;
  padding-right: 3px;
  padding-left: 3px;
  min-width: 55px;
  height: 100%;
  /*line-height: 24px;*/
  line-height: 10px;
  text-shadow: none;
  /*background-color: #288edf;*/
  background-color: #fff;
  /*border: 1px solid #134f7f;*/
  border: 1px solid #666666;
  /*color: #fff;*/
  color:#333333;
  box-shadow: none;
}

.mgwt-DialogButton-active {
  color: #eff1f1;
  border: 1px solid #0036ff;
  outline: 0;
}
