.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
}

.in {
  -webkit-animation-name: appear;
}

.out {
  -webkit-animation-name: dissolve;
}

.in.reverse {
  -webkit-animation-name: appear;
}

.out.reverse {
  -webkit-animation-name: dissolve;
}

@-webkit-keyframes dissolve {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@if user.agent ie10 {
	.in, .out {
	  animation-timing-function: ease-in-out;
	  animation-duration: 300ms;
	  animation-fill-mode: both;
	}
	
	.in {
	  animation-name: appear;
	}
	
	.out {
	  animation-name: dissolve;
	}
	
	.in.reverse {
	  animation-name: appear;
	}
	
	.out.reverse {
	  animation-name: dissolve;
	}
	
	@keyframes dissolve {
	  from { opacity: 1; }
	  to { opacity: 0; }
	}
	
	@keyframes appear {
	  from { opacity: 0; }
	  to { opacity: 1; }
	}
}