.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: both;	
  -webkit-animation-duration: .65s;
  -webkit-backface-visibility: hidden;
}

.in {
  -webkit-animation-name: flipinfromleft;
}

.out {
  -webkit-animation-name: flipouttoleft;
}

.in.reverse {
  -webkit-animation-name: flipinfromright;
}

.out.reverse {
  -webkit-animation-name: flipouttoright;
}

@-webkit-keyframes flipinfromright {
  from { -webkit-transform: rotateY(-180deg) scale(.8); }
  to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipinfromleft {
  from { -webkit-transform: rotateY(180deg) scale(.8); }
  to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipouttoleft {
  from { -webkit-transform: rotateY(0) scale(1); }
  to { -webkit-transform: rotateY(-180deg) scale(.8); }
}

@-webkit-keyframes flipouttoright {
  from { -webkit-transform: rotateY(0) scale(1); }
  to { -webkit-transform: rotateY(180deg) scale(.8); }
}

@if user.agent ie10 {
	.in, .out {
	  animation-timing-function: ease-in-out;
	  animation-duration: 300ms;
	  animation-fill-mode: both;	
	  animation-duration: .65s;
	  backface-visibility: hidden;
	}
	
	.in {
	  animation-name: flipinfromleft;
	}
	
	.out {
	  animation-name: flipouttoleft;
	}
	
	.in.reverse {
	  animation-name: flipinfromright;
	}
	
	.out.reverse {
	  animation-name: flipouttoright;
	}
	
	@keyframes flipinfromright {
	  from { transform: rotateY(-180deg) scale(.8); }
	  to { transform: rotateY(0) scale(1); }
	}
	
	@keyframes flipinfromleft {
	  from { transform: rotateY(180deg) scale(.8); }
	  to { transform: rotateY(0) scale(1); }
	}
	
	@keyframes flipouttoleft {
	  from { transform: rotateY(0) scale(1); }
	  to { transform: rotateY(-180deg) scale(.8); }
	}
	
	@keyframes flipouttoright {
	  from { transform: rotateY(0) scale(1); }
	  to { transform: rotateY(180deg) scale(.8); }
	}
}