.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
}

.in {
  -webkit-animation-name: popin;
}

.out {
  -webkit-animation-name: popout;
}

.in.reverse {
  -webkit-animation-name: popin;
}

.out.reverse {
  -webkit-animation-name: popout;
}

@-webkit-keyframes popin {
  from {
    -webkit-transform: scale(.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.3);
    opacity: 0;
  }
}

@if user.agent ie10 {
	.in, .out {
	  animation-timing-function: ease-in-out;
	  animation-duration: 300ms;
	  animation-fill-mode: both;
	}
	
	.in {
	  animation-name: popin;
	}
	
	.out {
	  animation-name: popout;
	}
	
	.in.reverse {
	  animation-name: popin;
	}
	
	.out.reverse {
	  animation-name: popout;
	}
	
	@keyframes popin {
	  from {
	    transform: scale(.3);
	    opacity: 0;
	  }
	  to {
	    transform: scale(1);
	    opacity: 1;
	  }
	}
	
	@keyframes popout {
	  from {
	    transform: scale(1);
	    opacity: 1;
	  }
	  to {
	    transform: scale(.3);
	    opacity: 0;
	  }
	}
}