.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 300ms;
  -moz-animation-fill-mode: both;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-duration: 300ms;
  -ms-animation-fill-mode: both;
}

.in {
  -webkit-animation-name: slideupfrombottom;
  -moz-animation-name: slideupfrombottom;
  -ms-animation-name: slideupfrombottom;
  z-index: 10;
}

.out {
  -webkit-animation-name: slideupfrommiddle;
  -moz-animation-name: slideupfrommiddle;
  -ms-animation-name: slideupfrommiddle;
  z-index: 0;
}

.out.reverse {
  z-index: 10;
  -webkit-animation-name: slidedownfrommiddle;
  -moz-animation-name: slidedownfrommiddle;
  -ms-animation-name: slidedownfrommiddle;
}

.in.reverse {
  z-index: 0;
  -webkit-animation-name: slidedownfromtop;
  -moz-animation-name: slidedownfromtop;
  -ms-animation-name: slidedownfromtop;
}

@-webkit-keyframes slideupfrombottom {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slidedownfrommiddle {
  from { -webkit-transform: translateY(0); }
  to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slideupfrommiddle {
  from { -webkit-transform: translateY(0); }
  to { -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes slidedownfromtop {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(0%); }
}

@-moz-keyframes slideupfrombottom {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(0); }
}

@-moz-keyframes slidedownfrommiddle {
  from { -moz-transform: translateY(0); }
  to { -moz-transform: translateY(100%); }
}

@-moz-keyframes slideupfrommiddle {
  from { -moz-transform: translateY(0); }
  to { -moz-transform: translateY(-100%); }
}

@-moz-keyframes slidedownfromtop {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(0%); }
}

@-ms-keyframes slideupfrombottom {
  from { -ms-transform: translateY(100%); }
  to { -ms-transform: translateY(0); }
}

@-ms-keyframes slidedownfrommiddle {
  from { -ms-transform: translateY(0); }
  to { -ms-transform: translateY(100%); }
}

@-ms-keyframes slideupfrommiddle {
  from { -ms-transform: translateY(0); }
  to { -ms-transform: translateY(-100%); }
}

@-ms-keyframes slidedownfromtop {
  from { -ms-transform: translateY(-100%); }
  to { -ms-transform: translateY(0%); }
}