.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-transform: perspective(800);
  -webkit-animation-duration: .7s;
  -webkit-transform-style: preserve-3d;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-transform: perspective(800);
  -moz-animation-duration: .7s;
  -moz-transform-style: preserve-3d;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: both;
  -ms-transform: perspective(800);
  -ms-animation-duration: .7s;
  -ms-transform-style: preserve-3d;
}

.out {
 -webkit-animation-name: swapouttoleft;
 -moz-animation-name: swapouttoleft;
 -ms-animation-name: swapouttoleft;
}
.in {
  -webkit-animation-name: swapinfromright;
  -moz-animation-name: swapinfromright;
  -ms-animation-name: swapinfromright;
}
.out.reverse {
  -webkit-animation-name: swapouttoright;
  -moz-animation-name: swapouttoright;
  -ms-animation-name: swapouttoright;
}
.in.reverse {
  -webkit-animation-name: swapinfromleft;
  -moz-animation-name: swapinfromleft;
  -ms-animation-name: swapinfromleft;
}


@-webkit-keyframes swapouttoright {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
      -webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
      opacity: 0;
  }
}

@-webkit-keyframes swapouttoleft {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes swapinfromright {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-webkit-keyframes swapinfromleft {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-moz-keyframes swapouttoright {
  0% {
    -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -moz-animation-timing-function: ease-in-out;
  }
  50% {
    -moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -moz-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
      -moz-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
      opacity: 0;
  }
}

@-moz-keyframes swapouttoleft {
  0% {
    -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -moz-animation-timing-function: ease-in-out;
  }
  50% {
    -moz-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
    -moz-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
    -moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }
}

@-moz-keyframes swapinfromright {
  0% {
    -moz-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    -moz-animation-timing-function: ease-out;
  }
  50% {
    -moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -moz-animation-timing-function: ease-in-out;
  }
  100% {
    -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-moz-keyframes swapinfromleft {
  0% {
    -moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    -moz-animation-timing-function: ease-out;
  }
  50% {
    -moz-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    -moz-animation-timing-function: ease-in-out;
  }
  100% {
    -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-ms-keyframes swapouttoright {
  0% {
    -ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -ms-animation-timing-function: ease-in-out;
  }
  50% {
    -ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -ms-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
      -ms-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
      opacity: 0;
  }
}

@-ms-keyframes swapouttoleft {
  0% {
    -ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -ms-animation-timing-function: ease-in-out;
  }
  50% {
    -ms-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
    -ms-animation-timing-function: ease-in;
    opacity: 0.8;
  }
  100% {
    -ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }
}

@-ms-keyframes swapinfromright {
  0% {
    -ms-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    -ms-animation-timing-function: ease-out;
  }
  50% {
    -ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -ms-animation-timing-function: ease-in-out;
  }
  100% {
    -ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-ms-keyframes swapinfromleft {
  0% {
    -ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    -ms-animation-timing-function: ease-out;
  }
  50% {
    -ms-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    -ms-animation-timing-function: ease-in-out;
  }
  100% {
    -ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@if user.agent ie10 {
	.in, .out {
	  animation-timing-function: ease-in-out;
	  animation-fill-mode: both;
	  transform: perspective(800);
	  animation-duration: .7s;
	}
	
	.out {
	  animation-name: swapouttoleft;
	}
	.in {
	  animation-name: swapinfromright;
	}
	.out.reverse {
	  animation-name: swapouttoright;
	}
	.in.reverse {
	  animation-name: swapinfromleft;
	}
	
	
	@keyframes swapouttoright {
	  0% {
	    transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	    animation-timing-function: ease-in-out;
	  }
	  50% {
	    transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
	    animation-timing-function: ease-in;
	    opacity: 0.8;
	  }
	  100% {
	      transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	      opacity: 0;
	  }
	}
	
	@keyframes swapouttoleft {
	  0% {
	    transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	    animation-timing-function: ease-in-out;
	  }
	  50% {
	    transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
	    animation-timing-function: ease-in;
	    opacity: 0.8;
	  }
	  100% {
	    transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	    opacity: 0;
	  }
	}
	
	@keyframes swapinfromright {
	  0% {
	    transform: translate3d(0px, 0px, -800px) rotateY(70deg);
	    animation-timing-function: ease-out;
	  }
	  50% {
	    transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
	    animation-timing-function: ease-in-out;
	  }
	  100% {
	    transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	  }
	}
	
	@keyframes swapinfromleft {
	  0% {
	    transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	    animation-timing-function: ease-out;
	  }
	  50% {
	    transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
	    animation-timing-function: ease-in-out;
	  }
	  100% {
	    transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	  }
	}
}